@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap'); 

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30, 35, 38, 1)), url(../img/copiaimg/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* -------- HEADER -------- */
.container-header {
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container-header header .logo a{
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #1cb698;
    text-decoration: none;
    transition: 2s;
}

.container-header header ul {
    display: flex;
    list-style: none;
}

.container-header header nav ul li a {
    text-align: center;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.container-header header nav ul li a:hover {
    color: #1cb698;
}

#menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #1cb698;
    margin-left: auto;
    border-radius: 20px;
}

/* -------- SECTION -------- */
section {
    margin-top: 80px;
}

.skill{
    color: #fff;
    padding: 50px 20px;
    height: 100vh;
}

.skill .container-section {
    max-width: 1199px;
    margin: auto;
    height: 100vh;
}

.skill h2{
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px 0;
}

.skill .fila{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.skill .fila .col{
    flex: 1;
    min-width: 300px;
    padding: 0 20px;
}

.skill .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous', cursive;
    margin-bottom: 25px;
    text-align: center;
}

.skill .skills span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skill .skills .barra-skills{
    height: 8px;
    width: 80%;
    background-color: #f0f3f7;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.skill .skills .progreso{
    background-color: #1cb698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 0; /* Animación desde 0 */
}

.skill .skills .barra-skills span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1cb698;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
    color: #fff;
    
}

footer {
    background-color: black;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer.redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px;
    font-size: 20px;
    transition: 4s;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 60px;
    background: #2d5b53;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;

}
footer .redes a:hover{
    background: #1cb698;
    border-color: #1cb698;
    transform: scale(1.1);
}

/* -------- ANIMACIONES -------- */
.progreso.javascript  { animation: javascript 2s forwards; }
.progreso.htmlcss     { animation: htmlcss 2s forwards; }
.progreso.photoshop   { animation: photoshop 2s forwards; }
.progreso.node        { animation: node 2s forwards; }
.progreso.react       { animation: react 2s forwards; }

.progreso.comunicacion { animation: comunicacion 2s forwards; }
.progreso.equipo       { animation: equipo 2s forwards; }
.progreso.creatividad  { animation: creatividad 2s forwards; }
.progreso.dedicacion   { animation: dedicacion 2s forwards; }
.progreso.proyectos    { animation: proyectos 2s forwards; }

/* Keyframes */
@keyframes javascript  { from {width: 0;} to {width: 75%;} }
@keyframes htmlcss     { from {width: 0;} to {width: 89%;} }
@keyframes photoshop   { from {width: 0;} to {width: 90%;} }
@keyframes node        { from {width: 0;} to {width: 90%;} }
@keyframes react       { from {width: 0;} to {width: 90%;} }

@keyframes comunicacion { from {width: 0;} to {width: 75%;} }
@keyframes equipo       { from {width: 0;} to {width: 75%;} }
@keyframes creatividad  { from {width: 0;} to {width: 90%;} }
@keyframes dedicacion   { from {width: 0;} to {width: 70%;} }
@keyframes proyectos    { from {width: 0;} to {width: 90%;} }


@media screen and (max-width: 768px){
    section{
        display: flex;
        flex-direction: column;
    }
    .container-header header{
        flex-direction: column;
        align-items: center;
    }

    .container-header header ul{
        flex-direction: column ;
        width: 100%;
        padding: 10px 0;
    }

    .container-header header header nav ul li{
        margin: 10px 0;
    }

    .skill{
        padding: 40px 15px;
    }

    .skill h2{
        font-size: 36px;
    }

    .skill .fila{
        flex-direction: column;
        gap: 30px;
    }

    .skill .fila .col{
        padding: 0;
        min-width: 100%;
    }

    .skill .fila .col h3{
        font-size: 24px;
    }

    .skill .skills .barra-skills{
        width: 100%;
    }

    .skill .skills .barra-skills span{
        font-size: 12px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        top: -15px;
        right: -12px;
    }

    #menu-toggle{
        display: none;
    }

    .menu-icon{
        display: block;
        font-size: 28px;
        cursor: pointer;
        color: #499390;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 300;
    }

    .container-header header .nav ul{
        display: none;
        flex-direction: column;
        background-color: rgb(0, 0, 0, 0.4);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 10px 0;
        border-radius: 6px;
        box-shadow: 0 4px 10px rgb(0, 0, 0, 0.4);
        z-index: 250;
    }

    #menu-toggle:checked ~.nav ul{
        display: flex;
    }

    .container-header header .nav ul li{
        margin: 5px 0;
    }

    .container-header header .nav ul li a{
        color: #fff;
        padding: 10px 15px;
        display: block;
        text-align: left;
    }
}